.docs-layout
  display flex
  padding-top 48px

  aside
    width 200px
    min-width 200px
    height 100%

    > div
      width 100% !important
      height 100%

  article
    width 100%
    padding 20px
