nav
  position fixed
  display flex
  align-items center
  width 100%
  background-color $color !important

  .logo
    flex-grow 1
    height 48px

    a
      display block
      height 100%
      font-size 24px
      color white
      padding-top 12px
      padding-left 18px
      text-decoration none


  .tabs

    .tab
      width 50px !important
      background-color $color !important

footer
  padding 20px
  text-align center
  color white
  background-color #757575

.muidocs-icon-custom-github
  color white !important
