// @import 'nib/reset'
// global-reset()

body
  padding 0
  margin 0
  font-family Roboto, sans-serif
  color: $colors.text
  font-size 16px
  line-height normal

p, ul
  font-size 16px

blockquote
  font-size 16px
  font-style normal
  padding 10px 40px
  margin 40px 0px
  border-left: 3px solid $colors.border

code:not(.hljs)
  font-weight bold

blockquote:before, blockquote:after
  display none

code.hljs
  padding 10px 20px
  margin 40px 0px

a
  color: $colors.links

article
  min-width 400px
  padding 56px 80px 80px

.mdl-layout
  min-width 500px

.mdl-layout__drawer-button
  i
    margin-top 10px

.mdl-layout__header
  background-color: $colors.main


@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
@import '../node_modules/highlight.js/styles/github-gist.css'
@import '../app/**/*.styl'
